doctype html
html
  head
    title= title
  body
    block content
    img(src="http://img.youtube.com/vi/6-Q36XoHlEI/0.jpg", alt="img")
    h1#h11 으악
    iframe(width="640" height="360" src="https://www.youtube.com/embed/nVCubhQ454c" frameborder="0" allowfullscreen)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/javascripts/ajax.js')

