doctype html
html
  head
    title= title
  body
    block content
    h1#h11 으악
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/javascripts/ajax.js')

