<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>TEST</title>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <!-- 공용함수 호출 -->
    <script src="/static/authFnInPage.js"></script>

  </head>
  
  <style>
  </style>

  <script>

    //유저의 정보(userId)를 가져오는 과정
    let userInfo;
    console.log("들어가기 전의 정보", userInfo);
    getSelf( function ( targetUserInfo ) {
      console.log(targetUserInfo);
      userInfo = targetUserInfo;
      console.log("함수 안에서의 유저인포의 닉네임!", targetUserInfo, userInfo.userId);
    });


    //페이지 사용자의 권한 확인
    function checkAuth() {
      if (!localStorage.getItem('token')) {
        alert('로그인이 되어있지 않습니다. 로그인 페이지로 이동합니다.');
        return window.location.href = '/login';
      }
    };

    $(document).ready(function () {
        checkAuth();
    });

  </script>
  <body>
    <h1>Test MainPage</h1>
    <p></p>
    <button onclick="signOut()">
      로 그 아 웃
    </button>
    <p></p>
  </body>
</html>
